<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

var dataPoints = [];
var dataPoints2 = [];

var options = {
	    exportEnabled: true,
	    animationEnabled: true,
	    title:{
	        text: "Live Game possibilities"
	    },
	    subtitles: [{
	        text: "Click Legend to Hide or Unhide Data Series"
	    }],
	    axisX: {
	        title: "Number of round"
	    },
	    axisY: {
	        title: "Win posibility %",
	        titleFontColor: "#4F81BC",
	        lineColor: "#4F81BC",
	        labelFontColor: "#4F81BC",
	        tickColor: "#4F81BC"
	    },

	    toolTip: {
	        shared: true
	    },
	    legend: {
	        cursor: "pointer",
	        itemclick: toggleDataSeries
	    },
	    data: [{
	        type: "spline",
	        name: "Keep my mind",
	        showInLegend: true,
	        xValueFormatString: "#,##0",
	        yValueFormatString: "#,##0",
	        dataPoints: dataPoints
	    },
	    {
	        type: "spline",
	        name: "Always change mind",
	        showInLegend: true,
	        xValueFormatString: "#,##0",
	        yValueFormatString: "#,##0",
	        dataPoints: dataPoints2
	    }]
	};
$("#chartContainer").CanvasJSChart(options);
updateData();

// Initial Values

var dataCount = 0;

function addData(data) {
	console.log(data)
    
    dataPoints.push({x: data[0], y: parseInt(data[1])});
	dataPoints2.push({x: data[2], y: parseInt(data[3])});
        //dataPoints.shift();
    if(dataCount<100) {
        dataCount++;
    }else {
    	dataPoints.shift();
    	dataPoints2.shift();
    }
  
    $("#chartContainer").CanvasJSChart().render()
    setTimeout(updateData, 500);   
}

function updateData() {
    $.getJSON("http://localhost:8080/data", addData);
}

function toggleDataSeries(e) {
    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
    } else {
        e.dataSeries.visible = true;
    }
    e.chart.render();
}

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>